@font-face {
    font-family: "Aero Matics";
    src: url("../fonts/Aero Matics.ttf");
}

@font-face {
    font-family: "Aero Matics Bold";
    src: url("../fonts/Aero Matics Bold.ttf");
}

@font-face {
    font-family: "Aero Matics Light";
    src: url("../fonts/Aero Matics Light.ttf");
}

:root {
    --yellow: #EAA100;
    --yellowAlt: #CC8800;
    --black: #0A0A0A;
    --blackAlt: #332211;
    --white: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

.blackTxt {
    color: var(--black);
}

.yellowTxt {
    color: var(--yellow);
}

.altYellowTxt {
    color: var(--yellowAlt);
}

.altBlackTxt {
    color: var(--blackAlt);
}

.whiteTxt {
    color: var(--white);
}

.lockScroll {
    height: 100%;
    overflow: hidden;
}

.text-1 {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: min(12vh, 5vw);
}

.text-2 {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: min(48px, 5vh);
    line-height: calc(min(48px, 5vh) * 1.1);
    text-transform: uppercase;
}

.text-3 {
    font-family: "Aero Matics", sans-serif;
    font-size: min(min(4vh, 2.05vw), 28px);
    line-height: calc(min(min(4vh, 2.05vw), 28px) * 1.2);
}

.text-4 {
    font-family: "Aero Matics", sans-serif;
    font-size: min(28px, max(10px, 3vh));
    line-height: calc(min(28px, max(10px, 3vh)) * 1.3);
}

.text-5 {
    font-family: "Aero Matics Light", sans-serif;
    font-size: min(24px, 3vh);
    text-transform: uppercase;
}

p {
    text-align: justify;
}


/* <--- Preload Area ---> */
.preload {
    position: absolute;
    bottom: 0;
    background: var(--black);
    height: 100%;
    width: 100%;
    z-index: 1500;
} 


/* <--- Warning ---> */
.warningOrientation {
    height: 100%;
    position: relative;
}

.warningOrientation h1 {
    font-family: "Aero Matics Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    color: var(--black);
    top: 50%;
    left: 50%;
    font-size: 8vw;
    transform: translate(-50%, -50%);
    z-index: 4000;
}


/* <--- Loading ---> */
.loading {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 6vh;
    z-index: 5000;
}

.mq-loading-items {
    color: var(--white);
}


/* <--- Navbar Area ---> */
#navbar {
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100%;
    height: max(10vh, 25px);
    background-color: var(--navbar-bg);
    padding: 4vh 2vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.navbar-1 {
    --navbar-bg: var(--yellow);
    --navbar-text: var(--black);
    --navbar-bar: var(--black);
}

nav a {
    position: relative;
    display: inline-block;
    font-size: min(24px, max(10px, 3.5vh));
    color: var(--navbar-text);
    font-family: "Aero Matics", sans-serif;
    text-decoration: none;
    padding: 0 0.3vh;
    margin: 0 2vh;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: var(--navbar-bar);
    width: 100%;
    height: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease;
}

nav a.active::after {
    transform-origin: left;
    transform: scaleX(1);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* <--- Home Area ---> */
#top {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 50vh;
    background-color: var(--yellow);
    z-index: 9;
    overflow: hidden;
    z-index: 1200;
}

#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--yellow);
    overflow: hidden;
    z-index: 1000;
}

#home .image-me {
    position: absolute;
    bottom: -5vh;
    height: min(85vh, 55vw);
    z-index: 150;
}

#top .image-me {
    bottom: -55vh;
    overflow: hidden;
}

#bottom .image-me {
    overflow: hidden;
}

#home .marquee-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: var(--height);
    overflow: hidden;
    z-index: 120;
}

#top .marquee-name {
    top: 50vh;
    margin-top: 1px;
}

#bottom .marquee-name {
    padding-bottom: 50vh;
}

.mq-name-items {
    color: var(--yellow);
}

#home .marquee-occup {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin-bottom: max(4.5vh, 15px);
    z-index: 110;
}

.mq-occup-items {
    color: var(--black);
}

#home .marquee-ability {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: max(6.52vh, 16px);
    z-index: 110;
}

.mq-occup-items {
    color: var(--black);
}

#home .text-group {
    overflow: hidden;
    position: absolute;
    left: min(100vh, 60vw);
    right: max(5vh, 3vw);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 5vh;
    z-index: 10;
}


/* <--- About Me Area ---> */
#aboutme {
    background-color: var(--black);
    z-index: -10;
}

#aboutme .image-wrapper .image-me {
    z-index: 90;
}

#aboutme .image-me-bg {
    position: absolute;
    bottom: max(5vh, 3vw);
    left: max(8vh, 4vw);
    background-color: var(--yellow);
    height: min(60vh, 40vw);
    width: min(45vw, 70vh);
}

#aboutme .image-cropper {
    position: absolute;
    z-index: 95;
    background-color: var(--black);
    bottom: 0;
    width: 100%;
    height: max(5vh, 3vw);
}

#aboutme .text-group-2 {
    overflow: hidden;
    position: absolute;
    left: min(100vh, 60vw);
    right: max(5vh, 3vw);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2vw;
    margin-top: 5vh;
    z-index: 10;
}

#aboutme .text-group-2 .text-1 {
    color: var(--yellow);
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 2vh;
}

#aboutme .text-group-2 .text-3 {
    color: var(--white);
    overflow: hidden;
}


/* <--- Achievement Area ---> */
#achievement {
    background-color: var(--black);
}

#achievement .marquee-achievement {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: var(--height);
    margin-top: 11.5vh;
    overflow: hidden;
    z-index: 120;
}

.certificate-container {
    position: relative;
    margin-top: max(30vh, 55px);
    margin-bottom: 5vh;
    width: auto;
    cursor: pointer;
}

.certificate-container #track {
    display: flex;
    flex-direction: row;
    height: 65vh;
    gap: 1.5vmin;
}

.certificate-container #track .certificate {
    max-width: 30vmin;
    object-fit: cover;
    object-position: 100%;
    transition: max-width 2s ease;
}

.certificate-container #track .certificate:hover {
    max-width: 150vmin;
}


/* <--- Project Area ---> */
#project {
    background-color: var(--black);
}

#project .marquee-project {
    position: absolute;
    margin-top: 10vh;
    top: 0;
    width: 100%;
    height: var(--height);
    overflow: hidden;
}

.project-container {
    position: relative;
    margin-top: max(30vh, 55px);
    margin-bottom: 5vh;
    width: auto;
}

.project-container #track {
    display: grid;
    grid-auto-flow: column;
}

.project-container #track .project {
    position: relative;
    height: 65vh;
    margin: 0 3vh;
    aspect-ratio: 16/9;
}


.project-container #track .project .front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: width 1s ease;
}

.project-container #track .project .front img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
}

.project-container #track .project .front.project-active {
    width: 30%;
}

.project-container #track .project .back {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 2px);
    width: calc(100% - 4px);
    margin: 1px 2px;
    outline: .5vmin solid var(--yellow);
    outline-offset: -.5vmin;
    z-index: -1;
    padding: 5vh 5% 5vh 35%;
}

.project-container #track .project .back .text-group {
    position: relative;
    margin-bottom: min(3vh, 30px);
}

.project-container #track .project .back .description {
    position: relative;
} 

.back a {
    text-decoration: none;
}

.project-container #track .project .back .project-btn {
    position: absolute;
    left: 35%;
    bottom: 5vh;
    margin: 0 0 1vmin 1vmin;
    cursor: pointer;
    background-color: var(--yellow);
    border: none;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Aero Matics Bold", sans-serif;
    font-size: min(24px, max(3vh, 12px));
    padding: min(14px, 1.75vmin) min(20px, 2.6vmin);
    box-shadow: -.5vmin .5vmin 0 0 var(--black), -.8vmin  .8vmin 0 0 var(--yellow);
    transition-duration: 200ms;
    outline: 0 solid var(--yellow);
    outline-offset: 0;
} 


/* <--- Contact Area ---> */
#contact {
    height: 70vh;
    background-color: var(--black);
}

#contact .marquee-contact {
    position: absolute;
    top: 10%;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    z-index: 120;
}

#contact .contact-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(90% - 5px);
    background-color: var(--yellow);
}

.contact-info .text-group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.contact-info .text-group p {
    text-align: center;
}

.contact-info .text-group .icon-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    margin-top: 4vmin;
    transform: translateX(-50%);
}

.contact-info .text-group .icon-wrapper a {
    margin: 0 0.5vmin;
    fill: var(--black);
}

.icon-wrapper a {
    text-decoration: none;
}

.icon-wrapper .icon {
    width: 6.5vh;
}

.icon-wrapper .icon path {
    fill: var(--black);
    stroke-width: 1.5;
    stroke: var(--black);
}

.icon-wrapper .icon.gmail path,
.icon-wrapper .icon.instagram path,
.icon-wrapper .icon.linkedin path,
.icon-wrapper .icon.dribbble path,
.icon-wrapper .icon.youtube path {
    stroke-dasharray:  135;
    stroke-dashoffset: 135;
}

.icon-wrapper .icon.github path {
    stroke-dasharray:  230;
    stroke-dashoffset: 230;
}


/* <--- Marquee Text Area ---> */
.marquee {
    width: 100%;
    height: var(--height);
    text-transform: uppercase;
}

.marquee-content {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: var(--top);
}

.marquee-item {
    display: inline-block;
    animation: var(--speed) marquee infinite linear;
}

.marquee-item span {
    margin: 0 var(--margin);
}

.marquee-background {
    position: relative;
    width: 100%;
    height: var(--height);
}


/* <--- Marquee custom background color ---> */
.mq-bg-loading {
    background-color: var(--yellow);
    z-index: -100;
}

.mq-bg-name {
    background-color: var(--black);
    z-index: -100;
}

.mq-bg-achievement {
    background-color: var(--yellow);
    z-index: -100;
}

.mq-bg-project {
    z-index: -100;
}

.mq-bg-contact {
    background-color: var(--black);
    z-index: -100;
}


/* <--- Marquee custom calibration and speed---> */
.mq-loading {
    --from: 0;
    --to: -100%;
    --speed: 50s;
}

.mq-occup {
    --from: 0%;
    --to: -100%;
    --speed: 600s;
}

.mq-ability {
    --from: 0%;
    --to: -100%;
    --speed: 600s;
}

.mq-name {
    --from: -100%;
    --to: 0%;
    --speed: 300s;
}

.mq-achievement {
    --from: 0;
    --to: -100%;
    --speed: 200s;
}

.mq-project {
    --from: -100%;
    --to: 0%;
    --speed: 200s;
}

.mq-contact {
    --from: 0;
    --to: -100%;
    --speed: 200s;
}


/* Marquee format size template */
.mq-big {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: max(21vh, 55px);
    --height: max(12.7vh, 32px);
    --margin: 2vw;
    --top: min(-6vh, -17px);
}

.mq-big-2 {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: max(21vh, 55px);
    --height: max(14vh, 37px);
    --margin: 2vw;
    --top: min(-5vh, -10px);
}

.mq-big-outline {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: max(18vh, 45px);
    -webkit-text-stroke: max(1vh, 2px) var(--yellow);
    --height: max(18vh, 45px);
    --margin: 1.5vw;
    --top: min(-2vh, -10px);
}

.mq-medium {
    font-family: "Aero Matics Bold", sans-serif;
    font-size: max(10vh, 24px);
    --height: max(6.5vh, 15px);
    --margin: 0.5vw;
    --top: min(-2.63vh, -6px);
}

.mq-small {
    font-family: "Aero Matics Light", sans-serif;
    font-weight: 500;
    font-size: max(4vh, 12px);
    --height: max(6.5vh, 15px);
    --margin: 0.5vw;
    --top: 0;
}


/* <--- Hover Effect Area ---> */
@media (hover: hover) {
    nav a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

    .certificate-container #track {
        position: absolute;
        left: 50%;
        transform: translateX(0%);
    }

    .icon-wrapper .icon.gmail:hover path,
    .icon-wrapper .icon.instagram:hover path,
    .icon-wrapper .icon.linkedin:hover path,
    .icon-wrapper .icon.dribbble:hover path,
    .icon-wrapper .icon.youtube:hover path {
        animation: animate-icon-1 .7s ease both;
    }

    .icon-wrapper .icon.github:hover path {
        animation: animate-icon-2 .7s ease both;
    }

    .project-container #track .project .back .project-btn:hover{
        transform: translate(-1vmin, 1vmin);
        box-shadow: 0 0 0 0 var(--black), 0 0 0 0 var(--yellow);
        outline: .3vmin solid var(--yellow);
        outline-offset: -.3vmin;
        background-color: var(--black);
        color: var(--yellow);
    }
}

@media (hover: none) {
    .certificate-container #track {
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: 0% 50%;
    }

    .icon-wrapper .icon.gmail:active path,
    .icon-wrapper .icon.instagram:active path,
    .icon-wrapper .icon.linkedin:active path,
    .icon-wrapper .icon.dribbble:active path,
    .icon-wrapper .icon.youtube:active path {
        animation: animate-icon-1 .7s ease both;
    }

    .icon-wrapper .icon.github:active path {
        animation: animate-icon-2 .7s ease both;
    }

    .project-container #track .project .back .project-btn:active{
        transform: translate(-1vmin, 1vmin);
        box-shadow: 0 0 0 0 var(--black), 0 0 0 0 var(--yellow);
        outline: .3vmin solid var(--yellow);
        outline-offset: -.3vmin;
        background-color: var(--black);
        color: var(--yellow);
    }
}


/* <--- Marquee animation ---> */
@keyframes marquee {
    from {
        transform: translateX(var(--from));
    }
    to {
        transform: translateX(var(--to));
    }
}

@keyframes animate-icon-1 {
    0%{
        stroke-dashoffset: 135;
        fill: var(--black);
    }
    30%{
        stroke-dashoffset: 135;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
}

@keyframes animate-icon-2 {
    0%{
        stroke-dashoffset: 230;
        fill: var(--black);
    }
    30%{
        stroke-dashoffset: 230;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
}